header, footer{
    background-color: rgb(205 173 50);
}

.row{
    margin: auto;
}

header{
    color: white;
    min-height: 30px;
    height: 7vh;  
    text-align: center;     
}
footer{
    color: white;
    min-height: 20px;
    height: 7vh;
    text-align: end;
}
.container-nav-article{
    display: flex;
    background-color: grey;
    height: 86vh;
}

.navigationContainer {
    background-color: rgb(245 245 221);
}
button{
    background-color: rgb(205 173 50);
    position: relative;
    border-radius: 5px;
}

.articleContainer{        
    color: white;
    background-size: cover;
    background-image: url(./images/Gato.JPG);
    min-height: 0;
}

.messageForm{
    color: white;
    margin-top: 20vh;
    align-items: center;
    text-align: center;
    min-height: 400px;
}

.catArticleContainer{
   
    background-color: aliceblue;
}


.container-nav-article .articleContainer p{
    font-size: 30px;
    text-align: center;
    margin-top: 20vh;
}